footer {
    width: 100%;
}

.container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lists {
    width: 45%;
}

.list-group-item {
    width: 90%;
}

.checked {
    text-decoration: line-through;
}

.title {
    display: inline-block;
    max-width: fit-content;
    margin: 0;
}

section {
    width: 100%;
    height: max-content;
    margin-top: 5px;
}

.list-delete{
    width: 10%;
}