footer {
    width: 100%;
}

.container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lists {
    width: 45%;
}

.list {
    list-style: none;
    padding-inline-start: 0;
}

.checked {
    text-decoration: line-through;
}