footer {
    width: 100%;
}

.lists {
    width: 45%;
}


.checked {
    text-decoration: line-through;
}

.title {
    display: inline-block;
    max-width: fit-content;
    margin: 0;
}

section {
    width: 100%;
    height: max-content;
    margin-top: 5px;
}

.list-delete{
    width: 10%;
}